
@{
	ViewData["Title"] = "Region";
}

<h2>Region</h2>

@if (ViewBag.HasError)
{
	<p>Error Result: @ViewBag.ErrorText</p>
	<br />
}

<table style="border-collapse:collapse;width: 100%;">
	<tr>
		@foreach (var column in ViewBag.RegionTable.Columns)
		{
			<th>@column.ColumnName </th>
		}
	</tr>
	@foreach (var row in ViewBag.RegionTable.Rows)
	{
		<tr>
			@for (int i = 0; i < ViewBag.RegionTable.Columns.Count; i++)
			{
				<td>@row[i]</td>
			}
		</tr>
	}
</table>

<div style="width: 100%; margin-top: 10px;">
	@if (ViewBag.ShowInsertRegion)
	{
		<form method="post" action="@Url.Action("InsertRegion", "Region")">
			<label>
				Code: <br />
				<input type="text" name="code" value="" placeholder="rrrrrr" />
				<br /><br />

				Country Name: <br />
				<input type="text" name="countryName" value="" placeholder="Country Name" />
				<br /><br />

				Climate type: <br />
				<select name="climate">
					<option value="">-- Pick a climate type --</option>
					<option value="A">Tropical</option>
					<option value="B">Dry</option>
					<option value="C">Tempterate</option>
					<option value="D">Continental</option>
					<option value="E">Polar/Alpine</option>
				</select>
				<br /><br />

				<input type="submit" name="submit" value="OK" />
				<input type="submit" name="submit" value="Cancel" />
			</label>
		</form>
	}
	else
	{
		<form method="post" action="@Url.Action("ActivateMode_InsertRegion")">
			<input type="submit" value="Add region" />
		</form>
	}
</div>
